In [328]:
import azureml.core
from azureml.core import Workspace, Datastore, Dataset, Experiment

mlonazure_ws = Workspace.from_config()

mlonazure_ds = mlonazure_ws.get_default_datastore()

print('Workspace Name: ' + mlonazure_ws.name, 
      'Resource Group: ' + mlonazure_ws.resource_group,
      'Default Storage Account Name: ' + mlonazure_ds.account_name,
      'AzureML Core Version: ' + azureml.core.VERSION,
      sep = '\n')

Workspace Name: mlonazure-ws
Resource Group: mlonazure-rg
Default Storage Account Name: mlonazurews7669880942
AzureML Core Version: 1.15.0

In [329]:
new_model_name = 'AutoML938fe6758118'
api_service_name = 'forecastdemand-api'

In [330]:
# import json
# import pickle
# import numpy as np
# import pandas as pd
# import azureml.train.automl
# import joblib
# from azureml.core.model import Model

# #input_sample = pd.DataFrame(data=[{'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8}])

# #input_sample = pd.DataFrame(data=[{"Column1": pd.Series(["1990-06-14T00:00:00.000Z"], dtype="datetime64[ns]"), "WeekStarting": pd.Series(["1990-06-14T00:00:00.000Z"], dtype="datetime64[ns]"), "Store": pd.Series(["1000"], dtype="int64"), "Brand": pd.Series(["dominicks"], dtype="object"), "Advert": pd.Series(["1"], dtype="int64"), "Price": pd.Series(["2.59"], dtype="float64"), "Revenue": pd.Series(["31087.77"], dtype="float64")}])

# input_sample = pd.DataFrame(data=[{"Column1": pd.Series(["1990-06-14T00:00:00.000Z"], dtype="datetime64[ns]"), "WeekStarting": pd.Series(["1990-06-14T00:00:00.000Z"], dtype="datetime64[ns]"), "Store": pd.Series(["1000"], dtype="int64"), "Brand": pd.Series(["dominicks"], dtype="object"), "Advert": pd.Series(["1"], dtype="int64"), "Price": pd.Series(["2.59"], dtype="float64"), "Revenue": pd.Series(["31087.77"], dtype="float64")}])

# #best_run.download_file('outputs/model.pkl', new_model_name)

# model = Model(workspace = mlonazure_ws, name = new_model_name)

# model.download(target_dir='.',exist_ok = True)

# myModel = joblib.load(filename='model.pkl')

# # data = input_sample

# result = myModel.predict(input_sample)

# json.dumps({"result": result.tolist()})
    
# #display(result)

In [331]:

# import json
# input_sample = pd.DataFrame(data=[{"Column1": pd.Series(["1990-06-14T00:00:00.000Z"], dtype="datetime64[ns]"), "WeekStarting": pd.Series(["1990-06-14T00:00:00.000Z"], dtype="datetime64[ns]"), "Store": pd.Series(["1000"], dtype="int64"), "Brand": pd.Series(["dominicks"], dtype="object"), "Advert": pd.Series(["1"], dtype="int64"), "Price": pd.Series(["2.59"], dtype="float64"), "Revenue": pd.Series(["31087.77"], dtype="float64")}])


# test_sample = json.dumps({'data': [
#     ["1990-06-14T00:00:00.000Z","2000-06-14T00:00:00.000Z",1000, 'dominicks', 1, 2.59,3108.77]
# ]})

# api_service.run(input_data=test_sample)

In [332]:
#Note that you need to run ../00. Get Data from OpenDatasets.ipynb to get and register this dataset.
datasetName_train = 'OJSales_Train_Subset'
datasetName_validate = 'OJSales_Validate_Subset'
datasetName_test = 'OJSales_Validate'

data_train_ds = Dataset.get_by_name(mlonazure_ws,datasetName_train,version='latest')
data_validate_ds = Dataset.get_by_name(mlonazure_ws,datasetName_validate,version='latest')
datasetName_test_ds = Dataset.get_by_name(mlonazure_ws,datasetName_test,version='latest')

In [333]:
pdValidate = data_validate_ds.to_pandas_dataframe()
#pdValidate = datasetName_test_ds.to_pandas_dataframe()

In [334]:
pdValidate.head(10)

     Column1 WeekStarting  Store      Brand  Quantity  Advert  Price   Revenue
0 1992-06-04   1992-06-04   1000  dominicks     11225       1   2.47  27725.75
1 1992-06-11   1992-06-11   1000  dominicks     14025       1   2.53  35483.25
2 1992-06-18   1992-06-18   1000  dominicks     16433       1   2.44  40096.52
3 1992-06-25   1992-06-25   1000  dominicks     16962       1   1.93  32736.66
4 1992-07-02   1992-07-02   1000  dominicks     10222       1   2.64  26986.08
5 1992-07-09   1992-07-09   1000  dominicks     18117       1   2.06  37321.02
6 1992-07-16   1992-07-16   1000  dominicks     11754       1   2.53  29737.62
7 1992-07-23   1992-07-23   1000  dominicks     13080       1   2.02  26421.60
8 1992-07-30   1992-07-30   1000  dominicks     19628       1   2.17  42592.76
9 1992-08-06   1992-08-06   1000  dominicks      9419       1   2.38  22417.22

In [335]:
pdValidate.tail(10)

,Column1,WeekStarting,Store,Brand,Quantity,Advert,Price,Revenue
10790,1992-07-30,1992-07-30,1199,tropicana,11782,1,2.47,29101.54
10791,1992-08-06,1992-08-06,1199,tropicana,14763,1,2.22,32773.86
10792,1992-08-13,1992-08-13,1199,tropicana,14692,1,2.02,29677.84
10793,1992-08-20,1992-08-20,1199,tropicana,16173,1,2.03,32831.19
10794,1992-08-27,1992-08-27,1199,tropicana,10011,1,2.29,22925.19
10795,1992-09-03,1992-09-03,1199,tropicana,19570,1,2.21,43249.70
10796,1992-09-10,1992-09-10,1199,tropicana,13773,1,1.98,27270.54
10797,1992-09-17,1992-09-17,1199,tropicana,13092,1,1.91,25005.72
10798,1992-09-24,1992-09-24,1199,tropicana,9551,1,1.94,18528.94
10799,1992-10-01,1992-10-01,1199,tropicana,11886,1,1.98,23534.28

In [336]:
# from datetime import datetime, timedelta

# start = data_validate_ds.take(1).to_pandas_dataframe().iloc[0]['WeekStarting']

# end = datetime.now()

# p = (end - start).days + 365

# p

# rng = pd.date_range(start, periods=p, freq='D')

# forecast_pd = pd.DataFrame({'WeekStarting': rng})

In [337]:
# forecast_pd.tail(10)

In [338]:
pdValidate.dtypes

Column1         datetime64[ns]
WeekStarting    datetime64[ns]
Store                    int64
Brand                   object
Quantity                 int64
Advert                   int64
Price                  float64
Revenue                float64
dtype: object

In [339]:
inferencedata_json = pdValidate.to_json(orient='records', date_format='iso')
inferencedata_json = '{"data": ' + inferencedata_json +'}'

In [303]:
print(inferencedata_json)

{"data": [{"Column1":"2011-06-04T00:00:00.000Z","WeekStarting":"2011-06-04T00:00:00.000Z","Store":1000,"Brand":"dominicks","Quantity":11225,"Advert":1,"Price":2.47,"Revenue":27725.75}]}

In [340]:
from azureml.core.webservice import AksWebservice 

api_service = AksWebservice(workspace = mlonazure_ws, name = api_service_name)

In [305]:
api_service

AksWebservice(workspace=Workspace.create(name='mlonazure-ws', subscription_id='286d2a8f-e90b-4e3f-b4d7-08971a2ab3fe', resource_group='mlonazure-rg'), name=forecastdemand-api, image_id=None, compute_type=None, state=AKS, scoring_uri=Healthy, tags=http://40.65.205.8:80/api/v1/service/forecastdemand-api/score, properties={}, created_by={'azureml.git.repository_uri': 'https://github.com/mlonazure/AzureMachineLearning.git', 'mlflow.source.git.repoURL': 'https://github.com/mlonazure/AzureMachineLearning.git', 'azureml.git.branch': 'master', 'mlflow.source.git.branch': 'master', 'azureml.git.commit': '7617e163f3d9e7145228fc631762bfd1d9b6e82e', 'mlflow.source.git.commit': '7617e163f3d9e7145228fc631762bfd1d9b6e82e', 'azureml.git.dirty': 'True', 'hasInferenceSchema': 'True', 'hasHttps': 'False'})

In [341]:
forecast_results= api_service.run(input_data=inferencedata_json)

In [ ]:
forecast_results

In [342]:
import pandas as pd

df = pd.read_json(forecast_results)
df

           forecast                                              index
0      11233.323521  {'WeekStarting': 707616000000, 'Store': 1000, ...
1      14025.276716  {'WeekStarting': 708220800000, 'Store': 1000, ...
2      16446.546038  {'WeekStarting': 708825600000, 'Store': 1000, ...
3      16935.702985  {'WeekStarting': 709430400000, 'Store': 1000, ...
4      10250.139648  {'WeekStarting': 710035200000, 'Store': 1000, ...
...             ...                                                ...
10795  19567.628069  {'WeekStarting': 715478400000, 'Store': 1199, ...
10796  13762.717913  {'WeekStarting': 716083200000, 'Store': 1199, ...
10797  13089.737095  {'WeekStarting': 716688000000, 'Store': 1199, ...
10798   9551.243373  {'WeekStarting': 717292800000, 'Store': 1199, ...
10799  11877.263393  {'WeekStarting': 717897600000, 'Store': 1199, ...

[10800 rows x 2 columns]

In [343]:
dictionary = (df['index']).to_dict()
# dictionary

In [344]:
keys,values=zip(*dictionary.items())

In [345]:
# values

In [346]:
df2 = pd.DataFrame(values)

In [347]:
df3 = pd.concat([df2,df['forecast']], axis=1)
df3

       WeekStarting  Store      Brand      forecast
0      707616000000   1000  dominicks  11233.323521
1      708220800000   1000  dominicks  14025.276716
2      708825600000   1000  dominicks  16446.546038
3      709430400000   1000  dominicks  16935.702985
4      710035200000   1000  dominicks  10250.139648
...             ...    ...        ...           ...
10795  715478400000   1199  tropicana  19567.628069
10796  716083200000   1199  tropicana  13762.717913
10797  716688000000   1199  tropicana  13089.737095
10798  717292800000   1199  tropicana   9551.243373
10799  717897600000   1199  tropicana  11877.263393

[10800 rows x 4 columns]

In [348]:
df3['WeekStarting'] = pd.to_datetime(df3['WeekStarting']/1000,unit='s')

df3

      WeekStarting  Store      Brand      forecast
0       1992-06-04   1000  dominicks  11233.323521
1       1992-06-11   1000  dominicks  14025.276716
2       1992-06-18   1000  dominicks  16446.546038
3       1992-06-25   1000  dominicks  16935.702985
4       1992-07-02   1000  dominicks  10250.139648
...            ...    ...        ...           ...
10795   1992-09-03   1199  tropicana  19567.628069
10796   1992-09-10   1199  tropicana  13762.717913
10797   1992-09-17   1199  tropicana  13089.737095
10798   1992-09-24   1199  tropicana   9551.243373
10799   1992-10-01   1199  tropicana  11877.263393

[10800 rows x 4 columns]

In [326]:
df3.to_csv('Forecastdata/results.csv', index=False)

In [327]:
mlonazure_ds.upload(
    src_dir='Forecastdata',
    target_path='MyDatasets/ForecastResults',
    overwrite=True,
    show_progress=False)

$AZUREML_DATAREFERENCE_9c0b30f5970642dd86488388e5d6bc33